* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

body {
    background-color: #E5E5E5;
}

.calculator {
    height: 700px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #000000;
    margin: 80px auto 0 auto;
    overflow: hidden;
}

input {
    height: 35%;
    width: 100%;
    text-align: end;
    border: none;
    font-size: 60px;
    padding-right: 10px;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
}

hr {
    width: 305px;
    border: 2px solid rgba(254, 132, 132, 0.701);
    border-radius: 20px;
    margin: 0 auto 50px auto;
}

button {
    width: 65px;
    height: 65px;
    margin: 5px;
    font-size: 30px;
    font-weight: 500;
    background-color: #3b3a3a00;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.275);
    cursor: pointer;
}

.eqal {
    background-color: #66FF7F;
    color: indigo;
    margin-bottom: 30px;
    border: none;
}

.AC {
    background-color: #FF5959;
    color: #F0F0F0;
    border: none;
}

.green {
    color: #66FF7F;
}